*{
    margin: 0;
    padding: 0;
  }

body{
    background-color:black;
}
header{
 
    margin: 1% 10% 0 10%;
 
    padding-bottom: 1%;
    border-bottom: solid white 1px;

}

.titol{
    margin-top: 2%;
    color: white;
    text-align: center;
}


nav ul{
    line-height: 3.3em;
    text-align: center;
}
nav li{
    margin-right:2%;
    margin-left:2%;
    padding-left:1%;
    display: inline;
    font-size: 1em;

}

nav li a{
    color:white;
    text-decoration: none;

    
}
.content{
    
    display: flex;
    margin-top:2%
    
}
.main{
    order:1;
    flex:2 50%;
    margin-left:10%;
    margin-top:1%;
    
}
.main img{
    border-radius: 1%;
}
.aside{
    margin-right: 10%;
    order: 2;
    flex:1 50%;
    color: white;
    padding-left: 5%;
    
    font-size: 300%;
}
.aside p{
    margin-top: 1%;
    font-size: 40%;
    
}
button{
    background-color: white;
    color: black;
    border-radius: 5%;
    padding: 1%;
    border: none;
    text-decoration: none;
    text-align: center;
    }
.correu{
    text-align: center;
}
footer{
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid white;
    padding-top:1%;
    padding-bottom: 1%;
    margin-top:5%;
    text-align: center;
    color: white;
  }