*{
    margin: 0;
    padding: 0;
  }

body{
    background-color:black;
}
header{
 
    margin: 1% 10% 0 10%;
 
    padding-bottom: 1%;
    border-bottom: solid white 1px;

}

.titol{
    margin-top: 2%;
    color: white;
    text-align: center;
}


nav ul{
    line-height: 3.3em;
    text-align: center;
}
nav li{
    margin-right:2%;
    margin-left:2%;
    padding-left:1%;
    display: inline;
    font-size: 1em;

}

nav li a{
    color:white;
    text-decoration: none;
}
.active{
    color:  rgb(0, 238, 255);
    font-weight:bold;
    font-size:130%;
    
}

.content{
    
    display: flex;
    
    background-color: rgb(252, 252, 242);
    
}
.main{
    order:1;
    flex:2 50%;
    margin-left:10%;
    margin-top:1%;
    border-radius: 1%;
    color: black;  
    font-size: 150%; 
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 2%;
}
.main p{
    margin-top: 2%;
}
.aside h1{
    font-size:90%;
}
.aside{
    border-left: 2px solid black;
}
#links{
    text-decoration: none;
    color: black;
}
#links:hover{
    text-decoration: underline;


}

.aside{
    margin-right: 10%;
    order: 2;
    flex:1 50%;
    color: black;
    padding-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 300%;
}
.aside p{
    margin-top: 2%;
    font-size: 40%;
    margin-left: 2%;
    
}
.aside h4{
    font-size: 60%;
    margin-top:2%;
}
button{
    background-color: white;
    color: black;
    border-radius: 5%;
    padding: 1%;
    border: none;
    text-decoration: none;
    text-align: center;
    }

.correu{
    text-align: center;
}
img{
    width: 50%;
    height: 30%;
    margin-top: 10%;
    float: left;
}


footer{
    clear: both;
    border-top: 1px solid white;
    padding-top:1%;
    padding-bottom: 1%;
    margin-top: 2%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
  }